.titlename {
  font-size: 40px;
  font-weight: bold;
  color: #000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center; }

.search {
  text-align: center; }
  .search input {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    padding: 0px 15px 0px 15px; }

#item_name {
  text-align: center; }

.th_item {
  border: 1px solid #ef857d;
  background-color: #ef857d;
  border-radius: 10px; }

.th_job {
  border: 1px solid #ffedab;
  background-color: #ffedab;
  border-radius: 10px; }

.th_learn, .th_have {
  border: 1px solid #a3d6cc;
  background-color: #a3d6cc;
  border-radius: 10px; }

.th_diff, .th_pos {
  border: 1px solid #bbe2f1;
  background-color: #bbe2f1;
  border-radius: 10px; }

.th_telep {
  border: 1px solid #e3acae;
  background-color: #e3acae;
  border-radius: 10px; }

.th_num {
  border: 1px solid #cab8d9;
  background-color: #cab8d9;
  border-radius: 10px; }

#item_table_div, #mat_table_div, #comp_table_div {
  text-align: center; }

#item_table, #mat_table, #comp_table {
  margin-left: auto;
  margin-right: auto;
  width: 800px; }
