$tr_color: #f7fcfe;

@mixin setBorder($top: 0, $bottom: 0, $left: 0, $right: 0, $topCol: #000, $bottomCol: #000, $leftCol: #000, $rightCol: #000){
    border-top: $top solid $topCol;
    border-bottom: $bottom solid $bottomCol;
    border-left: $left solid $leftCol;
    border-right: $right solid $rightCol;
}

.titlename{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}

.search{
    text-align: center;
    input{
        border: 1px solid #aaaaaa;
        border-radius: 10px;
        width: 300px;
        height: 30px;
        padding: 0px 15px 0px 15px;
    }
}

#item_name{
    text-align: center;
}

@mixin thColor($col) {
    //border: 1px solid $col;
    background-color: $col;
    border-radius: 10px;
}

.th_name{
    $col: #ef857d;
    @include thColor($col)
    //width: 30%;
}
.th_job{
    $col: #ffedab;
    @include thColor($col);
    //width: 15%;
}
.th_learn, .th_have{
    $col: #a3d6cc;
    @include thColor($col);
    //width: 25%;
}
.th_diff, .th_pos{
    $col: #bbe2f1;
    @include thColor($col);
    //width: 25%;
}
.th_telep{
    $col: #e3acae;
    @include thColor($col);
    //width: 25%;
}
.th_num{
    $col: #cab8d9;
    @include thColor($col);
}

#item_table_div, #mat_table_div, #comp_table_div{
    text-align: center;
}

#item_table, #mat_table, #comp_table{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border-collapse: collapse;
}

.select_color{
    background-color: $tr_color;
}

.td_color{
    @include setBorder();
    background-color: $tr_color;
}

.td_color_odd{
    @include setBorder();
    background-color: #fff;
}

select{
    border: 0px solid #fff;
}

#comp_num{
    font-weight: bold;
}